<div class="list-item" data-type="{{ meta_key }}" data-id="{{ meta_id }}">
	<input type="text" placeholder="{{ meta_value }}">
	<a class="delete-item" href="#"><i class="fas fa-trash"></i></a>
	<a class="save-item" href="#"><i class="fas fa-save"></i></a>
</div>