$primary-color: #83a4d4;
$secondary-color: #b4e9fe;
$green: #83ce83;
$red: #d48383;
$violet: #d095cf;
$blue: #9cc7e9;
$brown: #dccf90;
$gradient: linear-gradient(to right, $primary-color, $secondary-color);
$font-family: 'Nunito', sans-serif;;
$font-size: 14px;
$font-color: #888;
$shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);